@media only screen and (min-width: 1441px) {
    [data-page-style='custom'] {
      .page {
        width: 45%;
      }
  
      aside {
        width: 15%;
      }
    }
  }
  
@media only screen and (max-width: 1440px) {
  [data-page-style='custom'] {
    .page {
      width: 50%;
    }

    aside {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  [data-page-style='custom'] {
    .page {
      width: 56%;
    }

    aside {
      width: 22%;
    }
  }
}