{{- /* Unami */ -}}
{{- if eq .Site.Params.umami.enable true -}}
    <script async defer data-website-id="64317f56-47a8-4a6a-b9ee-f4b048243029" src={{ .Site.Params.umami.url }}></script>
{{- end -}}


{{- if eq .Site.Params.baiduStastics.enable true -}}
    <script>
    var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = {{ .Site.Params.baiduStastics.url }};
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
{{- end -}}
